h1{
    outline:1px solid yellow;
    text-align: center;
}
.caja{

    width:420px;
    padding:15px;
    border:1px solid #999;
    box-sizing:border-box;
    float:left;
    margin-left:8px;
}
p{
    outline:1px solid orange;
}

img{
    outline:2px solid red;
    max-width:100%;
}
